<%= render 'shared/flash_messages' %>

<a href="/new">投稿する</a>

<ul class="list_user_posts">
  <% @user_posts.each do |user_post| %>

    <% if user_signed_in? %>

      <% if user_post.user == current_user %>

        <% if user_post.visible && user_post.release_date <= DateTime.now %>
          <li>
            <h2><%= user_post.title %></h2>
            <% if user_post.image != "" %>
              <p><img src="<%= user_post.image %>"></p>
            <% end %>
            <p><%= user_post.content %></p>
            <p><%= user_post.created_at.strftime("%Y/%m/%d %H:%M") %> 投稿</p>
          </li>
        <% end %>

      <% end %>

    <% end %>

  <% end %>
</ul>
