<ul class="list_user_posts">
  <h2><%= @user_post.title %></h2>
  <% if @user_post.image != "" %>
    <p><img src="<%= @user_post.image %>"></p>
  <% end %>
  <p><%= @user_post.content %></p>
  <p><%= @user_post.created_at.strftime("%Y/%m/%d %H:%M") %> (<%= @user_post.category %>)カテゴリーに投稿</p>
</ul>

<hr>

<h3>[寄せられたコメント]</h3>

<% if @comments.count > 0 %>
  <ul class="list_user_posts">
    <% @comments.each do |comment| %>
      <li>
        <p><%= comment.content %></p>
        <p>
          [<%= User.find(comment.user_id).username %>]
          <%= comment.created_at.strftime("%Y/%m/%d %H:%M") %> 投稿
          <% if comment.user_id == current_user.id || @user_post.user_id == current_user.id %>
            <%= button_to "コメントを削除する", "/comments/#{comment.id}", method: :delete, data: {confirm: '投稿を削除します。よろしいですか？'} %>
          <% end %>
        </p>
      </li>
    <% end %>
  </ul>

  <%= will_paginate @comments, :renderer => BootstrapPagination::Rails %>

<% else %>
  まだコメントはありません。

<% end %>

<hr>

<% if user_signed_in? %>
  <h3>[コメントを書きこむ]</h3>

  <div class="form-group">
    <%= bootstrap_form_for(@comment) do |f| %>
      <%= render 'shared/flash_messages' %>
      <%= f.hidden_field :user_post_id, :value => @user_post.id %><br />

      <%= f.text_area :content, label: "." %>
      <em>(最大 140文字)</em><br /><br />

      <%= f.submit "投稿",　class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
