<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<br />
みんなのブログを見る
<li><%= link_to "日記",     list_path(category: "日記") %></li>
<li><%= link_to "動物",     list_path(category: "動物") %></li>
<li><%= link_to "旅行",     list_path(category: "旅行") %></li>
<li><%= link_to "スポーツ",  list_path(category: "スポーツ") %></li>
<li><%= link_to "音楽",     list_path(category: "音楽") %></li>
<li><%= link_to "アイドル",  list_path(category: "アイドル") %></li>
<li><%= link_to "写真",     list_path(category: "写真") %></li>
<li><%= link_to "その他",     list_path(category: "その他") %></li>
